<% @page_title = "Reset Password" %>
<% @content_header = "Reset Password" %>
<%= error_messages_for(@user) %>
<div class="login">
<%= form_for(@user, :validate => true, :url => {:controller => 'password_resets', :action => 'update', :id => params[:id]}) do |f| %>
  
  <div class="form-input">
	  <div class="form-field">
	    <%= f.label :password %>
	    <%= f.password_field :password, :validate => { :presence => true, :length => {:within => 8..25}, :confirmation => true } %>
	  </div>
	  <div class="form-field">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	  </div>
  </div>
  <div class="form-buttons">
  	<%= f.submit "Reset Password" %>
  </div>
<% end %>
</div>
