<% @page_title = "Register Account"%>
<% @content_header = "Register User Account"%>

<div class="user new">
<span class="required">*</span> indicates a required field<br /><br />
<%= error_messages_for(@errors) %>

  <%= form_for(@user, :validate => true, :url => {:action => 'create'}) do |f| %>
  
    <div class="form-input">

	 <div class="form-field">
        <%= f.label(:name, "Name") %>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter your name here. This information is entirely optional and used only for display purposes") %>
        <%= f.text_field(:name) %>
     </div>
	 <div class="form-field">
        <%= f.label(:email, "Email Address") %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter your email address here. The email must be valid e.g. mail@findfix.com") %>
        <%= f.text_field(:email) %>
     </div>
	 <div class="form-field">
        <%= f.label(:email_confirmation, "Confirm Email Address") %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Re-enter the email entered above to confirm its correctness") %>        
        <%= f.text_field(:email_confirmation) %>
     </div>
	 <div class="form-field">
        <%= f.label(:username) %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter a username to identify yourself in the future. Usernames must be between 6 and 25 characters, they must start with a letter (upper or lower case a-z) and can contain letters, numbers, underscores  _  or full stops  . ") %>        
        <%= f.text_field(:username) %>
     </div>
	 <div class="form-field">
        <%= f.label(:password) %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter a password for your account to identify yourself in the future. Passwords must be between 8 and 25 characters") %>        
        <%= f.password_field(:password) %>
     </div>
	 <div class="form-field">
        <%= f.label(:password_confirmation, "Confirm Password") %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Re-enter the password entered above to confirm its correctness") %>        
        <%= f.password_field(:password_confirmation) %>
     </div>   
        
	</div>
    
    <div class="form-buttons">
      <%= submit_tag("Submit") %>
    </div>
    
  <% end %>
</div>

<% @right_header = "Help"%>

<% content_for :right_bar do %>
<p>Register a user account to post problems and solutions.</p>

<p><b>Name:</b><br />
Enter your name here. This is entirely optional</p>

<p><b>Email Address:</b><br />
Enter your email address here. An email is required and must be in the correct format e.g. mail@findfix.com.  You are also required to confirm your email address.</p>

<p><b>Username:</b><br />
Enter a username to identify yourself in the future. Usernames must be between 6 and 25 characters, they must start with a letter (upper or lower case a-z) and can contain letters, numbers, underscores ( _ ) or full stops ( . )</p>

<p><b>Password:</b><br />
Enter a password for your account to identify yourself in the future. Passwords must be between 8 and 25 characters.  You are also required to confirm your password. 
It is recommended that you use a strong password including upper and lowercase characters, numbers and special characters (e.g.  ?><@).</p>
<% end %>