<% @page_title = "Register User Account"%>
<% @content_header = "Register User Account"%>
  <%= form_for(@user, :validate => true, :url => {:action => 'create'}) do |f| %>
  <span class="required">*</span> indicates a required field<br /><br />
  <%= error_messages_for(@errors) %>

        <%= f.label(:name, "Name") %>
        <%= f.text_field(:name, "data-theme" => "d") %>
		<span class="required">*</span>
        <%= f.label(:email, "Email Address") %>
        <%= f.text_field(:email, "data-theme" => "d") %>
		<span class="required">*</span>
        <%= f.label(:email_confirmation, "Confirm Email Address") %>
        <%= f.text_field(:email_confirmation, "data-theme" => "d") %>
		<span class="required">*</span>
        <%= f.label(:username) %>
        <%= f.text_field(:username, "data-theme" => "d") %>
		<span class="required">*</span>
        <%= f.label(:password) %>
        <%= f.password_field(:password, "data-theme" => "d") %>
		<span class="required">*</span>
        <%= f.label(:password_confirmation, "Confirm Password") %>
        <%= f.password_field(:password_confirmation, "data-theme" => "d") %>

      <%= submit_tag("Submit") %>
    	<p class="small-text center">We will not share your personal information with third parties without your permission, except as set forth in our 
	   <%= link_to "Privacy Policy", {:controller => 'public', :action => 'privacy', :mobile => 0 }%></p>
  <% end %>