<script>confirm_submit("#user_confirm", ".user_submit");</script>
<div id="user_confirm" title="Submit User" style="display: none;">Are you sure you wish to register?</div>

<% @page_title = "Register Account"%>
<% @content_header = "Register User Account"%>

<div class="user new">
<span class="required">*</span> indicates a required field<br /><br />
<%= error_messages_for(@errors) %>

  <%= form_for(@user, :validate => true, :url => {:action => 'create'}) do |f| %>
  
    <div class="form-input">

	 <div class="form-field">
        <%= f.label(:name, "Name") %>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter your name here. This information is entirely optional and used only for display purposes") %>
        <%= f.text_field(:name) %>
     </div>
	 <div class="form-field">
        <%= f.label(:email, "Email Address") %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter your email address here. The email must be valid e.g. mail@findfix.com") %>
        <%= f.text_field(:email) %>
     </div>
	 <div class="form-field">
        <%= f.label(:email_confirmation, "Confirm Email Address") %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Re-enter the email entered above to confirm its correctness") %>        
        <%= f.text_field(:email_confirmation) %>
     </div>
	 <div class="form-field">
        <%= f.label(:username) %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter a username to identify yourself in the future. Usernames must be between 6 and 25 characters, they must start with a letter (upper or lower case a-z) and can contain letters, numbers, underscores  _  or full stops  . ") %>        
        <%= f.text_field(:username) %>
     </div>
	 <div class="form-field">
        <%= f.label(:password) %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Enter a password for your account to identify yourself in the future. Passwords must be between 8 and 25 characters") %>        
        <%= f.password_field(:password, :validate => { :presence => true, :length => {:within => 8..25}, :confirmation => true }) %>
     </div>
	 <div class="form-field">
        <%= f.label(:password_confirmation, "Confirm Password") %><span class="required">*</span>
        <%= image_tag('help_icon.png', :alt => 'help icon', :class => 'tooltip', "data-tooltip" => "Re-enter the password entered above to confirm its correctness") %>        
        <%= f.password_field(:password_confirmation) %>
     </div>   
     <div class="form-field">
        <%= f.label(:confirm_terms, "I agree with the <a href=\"/public/termsofservice\" target=\"_blank\">terms and conditions</a>".html_safe) %><span class="required">*</span>
        <%= f.check_box(:confirm_terms) %>
     </div>  
        
	</div>
    
    <div class="form-buttons">
      <%= submit_tag("Register", :class => "user_submit") %>
    </div>
    <br />
    	<p class="small-text center">We will not share your personal information with third parties without your permission, except as set forth in our 
	   <%= link_to "Privacy Policy", {:controller => 'public', :action => 'privacy'} %></p>
    
  <% end %>
</div>

<% content_for :right_bar do %>
<div class="right_bar_feature">
<h2>Help</h2>
<p>Register a user account to post problems and fixes and to comment and vote on problems and fixes.</p>
</div>
<% end %>