<div class="post list">
<table class="listing" summary="Post list">
    <tr class="header">

      <th>Title</th>
      <th>Categories</th>
      <th>Tags</th>      
      <th>Solutions</th>
      <th>Author</th>
      <% if is_admin && is_post_list_page %>
      <th>Actions</th>
      <% end %>
    </tr>
    <% posts.each do |post| %>
    <tr class="<%= cycle('odd', 'even') %>">

      <td><%= link_to(truncate(post.title, :length => 80), {:controller => 'posts', :action => 'show', :id => post.id, :post_type => post.post_type, :parent_id => post.parent_id }) %></td>
      <td><% post.categories.each do |category| %>
      	  <ul>
      	  	<li><%= category.name %></li>
      	  </ul>
      	  <% end %>
      </td>
      <td><% post.tags.each do |tag| %>
      	  <ul>
      	  	<li><%= tag.name %></li>
      	  </ul>
      	  <% end %>
      </td> 
      <td class="center"><%= solution_count(post).to_s %></td>
      <td><%= post.user ? post.user.username : 'Unknown' %></td>
      <% if is_admin && is_post_list_page %>
      <td class="actions">  
        <%= link_to("Edit", {:action => 'edit', :id => post.id, :post_type => 0}, :class => 'action edit') if is_logged_in %>
        <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') if is_admin %>
      </td>
      <% end %>
    </tr>
    <% end %>
</table>
</div>