<div class="login">

  <h2>Login</h2>

  <%= form_tag(:action => 'process_login') do %>
  <% if @notice %>
	<span id="login_notice"><%= @notice %></span>
  <% end %>
  <div class="form-input">
	 <div class="form-field">
	     <%= label_tag(:username) %>
	     <%= text_field_tag(:username) %>
     </div>
     <div class="form-field">
	     <%= label_tag(:password) %>
	     <%= password_field_tag(:password) %>
     </div>
  </div>
  
  <div class="form-buttons">
  	<%= submit_tag("Log In") %>
  </div>
  <% end %>
  <p class="center">Need an account? <%= link_to("Click here to create one", {:controller => 'users', :action => 'new'}) %>.</p>
  <p class="center">Forgotten your password? <%= link_to "Click here to recover it.", {:controller => 'password_resets', :action => 'new'} %></p>
</div>