<% @page_title = "Login" %>
<% @content_header = "User Login"%>

<div class="login">
	
  <%= form_tag(:action => 'process_login') do %>
  <div class="form-input">
	 <div class="form-field">
	     <%= label_tag(:username) %>
	     <%= text_field_tag(:username) %>
     </div>
     <div class="form-field">
	     <%= label_tag(:password) %>
	     <%= password_field_tag(:password) %>
     </div>
  </div>
  <div class="form-buttons">
  	<%= submit_tag("Log In") %>
  </div>
  <% end %>
</div>

<% @right_header = "Help"%>

<% content_for :right_bar do %>
<p>Login here to post problems and suggest solutions.</p>

<p>If you do not already have login credentials <%= link_to("create a new account", {:controller => 'users', :action => 'new'}) %>.</p>
<% end %>