<%= error_messages_for(@post) %>

    <div class="form-input">

      <div class="form-field">
        <%= f.label(:title) %>
        <%= f.text_field(:title) %>
      </div>
      <div class="form-field">
        <%= f.label(:description) %>
        <%= f.text_area(:description, :size => "600x10") %>
      </div>
      <div class="form-field">
        <%= label( :error_message, :description, "Error Message") %>
        <%= text_field( :error_message, :description) %>
      </div>
      <div class="form-field">
        <%= label( :category, :id, "Category") %>
        <%= select( :category, :id, @category_options) %>
      </div>
      <div class="form-field">
        <%= label( :tag, :name, "Custom Tags") %>
        <%= text_field( :tag, :name) %>
      </div>         

    </div>