<%= error_messages_for(@post) %>

    <div class="form-input">

      <div class="form-field">
        <%= f.label(:title) %>
        <%= f.text_field(:title) %>
      </div>
      <div class="form-field">
        <%= f.label(:description) %>
        <%= f.text_area(:description, :size => "600x10") %>
      </div>
      <div class="form-field">
        <%= label(:error_messages, :description, "Error Message(s)") %> 
        <%= f.fields_for :error_messages do |e| %>   
		      <%= e.text_field :description %>
  		<% end %>
      </div>
      <div class="form-field">
        <%= label(:categories, :id, "Categories") %>
        <%= f.fields_for :categories do |c| %>
			<%= c.collection_select(:name, @category_options, :name, :name, {:prompt => '-- Please Select a Category --', :selected => nil}) %>
	    <% end %>
      </div>
      <div class="form-field">
        <%= label(:tags, :name, "Custom Tags") %>
        <%= f.fields_for :tags do |t| %>
		      <%= t.text_field :name %>
  		<% end %>
      </div>         

    </div>