<%= error_messages_for(@errors) %>

    <div class="form-input">

      <div class="form-field">
        <%= f.label(:title) %>
        <%= f.text_field(:title) %>
      </div>
      <div class="form-field">
        <%= f.label(:description) %>
        <%= f.text_area(:description, :size => "600x10") %>
      </div>
      <% @post.error_messages.build if @post.error_messages.blank? %>
      <div class="form-field">
        <%= label(:error_messages, :description, "Error Message(s)") %> 
        <%= f.fields_for :error_messages do |e| %>   
		      <%= e.text_field :description %>
  		<% end %>
      </div>
      <% @post.post_categories.build if @post.post_categories.blank? %>
      <div class="form-field">
        <%= label(:post_categories, :category_id, "Categories") %>
        <%= f.fields_for :post_categories do |c| %>
			<%= c.collection_select(:category_id, @category_options, :id, :name, {:prompt => '-- Please Select a Category --', :selected => nil}) %>
	    <% end %>
      </div>
      <% @post.tags.build if @post.tags.blank? %>
      <div class="form-field">
        <%= label(:tags, :name, "Custom Tags") %>
        <%= f.fields_for :tags do |t| %>
		      <%= t.text_field :name %>
  		<% end %>
      </div>
     
    </div>