<div class="post list">
<% if params[:controller] == "posts" %>
	<div class="pagination">
	    <div class="page_info">
	      <%= page_entries_info posts, :model => "Problem", :html => false  %>
	    </div>
	    <%= will_paginate posts, :container => false %>
	</div>
	<span class="loadingScreen"></span>
<% end %>

<table class="listing" summary="Post list">
    <% posts.each_with_index do |post, i| %>
    <tr class="<%= cycle('odd', 'even') %>">

      <td class="list_details">
      	<%= link_to(truncate(post.title, :length => 80), {:controller => 'posts', :action => 'show', :id => post.id }, :class => "list_title") %><br />
      	
      	<table>
      		<% if params[:query] && !params[:query].blank? %>
			    <% snippeted_attributes = post.description_snippet.to_s + " " + post.error_message_descriptions_snippet.to_s + " " + \
			     post.solution_descriptions_snippet.to_s + " " + post.post_comments_snippet.to_s + " " + post.solutions_comments_snippet.to_s %>
			    <% snippeted_attributes = CGI.unescapeHTML(snippeted_attributes) %>
			    <% snippeted_attributes = sanitize snippeted_attributes, :tags => %w(b strong em u) %>
	      		<%= "<tr><td class=\"snippet\" colspan='2'>#{snippeted_attributes}</td></tr>".html_safe %>
	        <% end %>
      		<tr>
      			<td width="200px">Created by: <%= post.username ? post.username : 'Unknown' %></td>
      				
      			<td>
      			  Categories:
      			  <% post.category_names.split("-").each do |category| %>
		      	  	<span><%= link_to(category.strip, {:controller => 'posts', :action => 'list', :category_name => category.strip}, :class => "list_tags") %></span>
		      	  <% end %>
		      	</td>
      		</tr>
      		<tr>
      			<td>Last updated: <%= time_ago_in_words(post.updated_at.to_time) %> ago</td>
      			<td>
      			  Tags:
		      	  <% post.tag_names.split("-").each do |tag| %>
      	  			<span><%= link_to(tag.strip, {:controller => 'posts', :action => 'list', :tag_name => tag.strip}, :class => "list_tags") %></span>
      	  		  <% end %>
		        </td>
      		</tr>
      		
      	</table>
      </td>
      <td class="list_metrics">
      	<%= post.solutions_size %>
      	<br />
      	<p><%= pluralize(post.solutions_size, "fix").gsub(/^\d+\s/, "")  %></p>
      </td>
      <td class="list_metrics">
      	<%= post.comments_size %>
      	<br />
      	<p><%= pluralize(post.comments_size, "comment").gsub(/^\d+\s/, "")  %></p>
      </td>
      <td class="list_metrics">
      	<%= post.score %>
      	<br />
      	<p><%= "score" %></p>
      </td>  
      <% if is_admin && is_post_list_page %>
      <td class="actions">  
        <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') if is_logged_in %>
        <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') if is_admin %>
      </td>
      <% end %>
    </tr>
    <% end %>
</table>

<% if params[:controller] == "posts" && posts.count > 10 %>
	<div class="pagination">
	    <div class="page_info">
	      <%= page_entries_info posts, :model => "Problem", :html => false  %>
	    </div>
	    <%= will_paginate posts, :container => false %>
	</div>
	<span class="loadingScreen"></span>
<% end %>
	<br />
</div>