	<div class="page_info">
	      <%= page_entries_info @posts, :model => "Problem", :html => false  %>
	</div>
	<div class="pagination">   
	    <%= will_paginate @posts, :container => false %>
	</div>
	<span class="loadingScreen"></span>

<p>Click on the problem title for more detail</p>

    <% posts.each_with_index do |post, i| %>
    <div class="post_list">
		<div class="<%= cycle('odd', 'even') %>">
      	<%= link_to(truncate(post.title, :length => 80), {:controller => 'posts', :action => 'show', :id => post.id }, 'data-role' => 'button', "data-icon" => "arrow-r") %> 	
      		<% if params[:query] && !params[:query].blank? %>
			    <% snippeted_attributes = post.description_snippet.to_s + " " + post.error_message_descriptions_snippet.to_s + " " + \
			     post.solution_descriptions_snippet.to_s + " " + post.post_comments_snippet.to_s + " " + post.solutions_comments_snippet.to_s %>
	      		<%= "<p class=\"snippet\">#{snippeted_attributes}</p>".html_safe %>
	        <% end %>
      	  
    	  <p class="center">  				
  			  Categories<br />
  			  <% post.category_names.split("-").each do |category| %>
	      	  	<span><%= link_to(category.strip, {:controller => 'posts', :action => 'list', :category_name => category.strip}, :class => "list_tags") %></span>
	      	  <% end %>
      	  </p>
      	  
      	  <p class="center">
  			  Tags<br />
	      	  <% post.tag_names.split("-").each do |tag| %>
  	  			<span><%= link_to(tag.strip, {:controller => 'posts', :action => 'list', :tag_name => tag.strip}, :class => "list_tags") %></span>
  	  		  <% end %>
  		  </p>
  		  <p class="center">
  		  <span>
	      	<%= "Fixes:"  %>
	      	<%= post.solutions_size %>
	      </span>	
	      <span>
	      	<%= " / Score:" %>
	      	<%= post.score %>
	      </span>
	      </p>
	      <p class="small-text">Submitted by <%= post.username ? post.username : 'Unknown' %> <%= time_ago_in_words(post.updated_at.to_time) %> ago</p> 
      	</div>
      <% if is_admin && is_post_list_page %>
      <div class="actions">  
        <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') if is_logged_in %>
        <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') if is_admin %>
      </div>
      <% end %>        
    </div>
    <% end %>
    
<div class="pagination">   
    <%= will_paginate @posts, :container => false %>
</div>
<span class="loadingScreen"></span>
    
