<table>
	<tr>
		<td><%= show_voting(post, post.id) %></td>
		<td>
			<div class="show_post">
			    <div class="post_display">
			      <p><%= post.description.html_safe %></p>
				    <div class="post_footer">
				      <strong >Error Message(s):</strong>
				      	<ul>
				      		<%= '<li>none</li>'.html_safe if post.error_messages.blank? %>
					      	<% for error_message in post.error_messages %>
					      		<li><%=h error_message.description %></li>
					      	<% end %> 
				      	</ul>
				      	<p class="highlight right">Submitted by <%= post.user ? post.user.username : 'Unknown' %> <%= time_ago_in_words(post.updated_at.to_time) %> ago</p>
				    </div>
			    </div>
			    <div>
			      <strong>Categories:</strong>
			      	<% for category in post.categories %>
			      		<span><%= link_to(category.name, {:controller => 'posts', :action => 'list', :category_id => category.id}, :class => "list_tags") %></span>
			      	<% end %>
			    </div>
			    <div>
			      <strong>Tags:</strong>
			      	<% for tag in post.tags %>
			      		<span><%= link_to(tag.name, {:controller => 'posts', :action => 'list', :tag_id => tag.id}, :class => "list_tags") %></span>
			      	<% end %> 
			    </div>		
			    <div class="comments comments_<%=post.class%><%=post.id%>">
			    	<% unless post.comments.size == 0 %> 
				    	<strong>Comments:</strong>		   	 
				    	<%= render post.comments, :post_id => post.id  %>
				    <% end %> 
			    </div>
			    <%= show_comment_form(post, post.id) %>		     
			</div>
		</td>
	</tr>
</table>