<h2>There <%= solutions.length == 1 ? 'is' : 'are'%> <%= pluralize(solutions.length, "Possible Fix")%> for this Problem</h2>
<br />
<% solutions.each_with_index do |solution, i| %>
  <table><tr>
	<td>
    <div class="score">
      Score
      <p><%= '0' %></p>
    </div>
    </td><td>
    <div class="show_post">
      <div class="post_display">
      
      	<p><%= solution.description %></p> 
      	<br />   
	    <div class="post_footer">
	      <strong>Submitted By:</strong> <%= solution.user ? solution.user.username : 'Unknown' %>
	      	<table><tr>
	          <td><%= link_to("Edit this solution", {:action => 'edit', :id => solution.id}, :class => 'solution_edit') if is_admin %></td>
	          <td><%= link_to("Delete this solution", {:action => 'delete', :id => solution.id}, :class => 'solution_delete') if is_admin %></td>
	      	</tr></table>
	    </div>
      </div>
      
    </div>
    <%= show_comments(solution) %>
    <%= show_comment_form(solution) %> 
   </td>
   </tr></table>
<br /><hr /><br />
<% end %>