<div class="show_post">
	<p class="small-text">Submitted by <%= post.user ? post.user.username : 'Unknown' %> <%= time_ago_in_words(post.updated_at.to_time) %> ago</p>
	<div class="post_display"><p class="description"><%= post.description.html_safe %></p></div>
	<%= show_voting(post, post.id) %>
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true" data-mini="true">			    
		<h3>Error Messages</h3>
		<ul data-role="listview" data-inset="true">
		<% for error_message in post.error_messages %>
		<li> <%=h error_message.description %></li>
		<% end %> 
		</ul>
	</div>
				      	
				      	
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true" data-mini="true">
        <h3>Categories</h3>
      	<ul data-role="listview" data-inset="true">
      	<% for category in post.categories %>
      		<li><%= link_to(category.name, {:controller => 'posts', :action => 'list', :category_id => category.id}, :class => "list_tags") %></li>
      	<% end %>
      	</ul>
    </div>
    
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true" data-mini="true">
      	<h3>Tags</h3>
      	<ul data-role="listview" data-inset="true">
      	<% for tag in post.tags %>
      		<li><%= link_to(tag.name, {:controller => 'posts', :action => 'list', :tag_id => tag.id}, :class => "list_tags") %></li>
      	<% end %> 
      	</ul>
    </div>
	   	 
    <div class="comments_<%=post.class%><%=post.id%>">
    	<% unless post.comments.size == 0 %> 
	    	<strong>Comments:</strong>		   	 
	    	<%= render post.comments, :post_id => post.id   %>
	    <% end %>
    </div>
    <%= show_comment_form(post, post.id) %>
	<div id="sharing">
		<strong>Share this post:</strong>
		<a id="tweet-button" href="https://twitter.com/share" target="_blank">Twitter</a>
		<a id="fb-button" href="http://www.facebook.com/sharer.php?u=<%= url_encode(request.url)%>&t=<%=url_encode(post.title)%>" target="_blank">Facebook</a> 
		<a id="linkedin-button" href="http://www.linkedin.com/shareArticle?mini=true&url=<%= url_encode(request.url)%>&title=<%=url_encode(post.title)%>&source=find-fix.com">Linkedin</a>
	</div>
</div>
