<% @page_title = "Posts List"%>
<% @content_header = "Problem List"%>

<div class="post list">
  
  <%= link_to("Submit New Problem", {:action => 'new'}, :class => 'action new') if is_logged_in %>
  
  <div><%= pluralize(@posts.size, 'post')%> found</div>

  <table class="listing" summary="Post list">
    <tr class="header">

      <th>Title</th>
      <th>Description</th>
      <th>Categories</th>
      <th>Tags</th>      
      <th>Score</th>
      <th>Author</th>
      <% if is_admin %>
      <th>Actions</th>
      <% end %>
    </tr>
    <% @posts.each do |post| %>
    <tr class="<%= cycle('odd', 'even') %>">

      <td><%= link_to(post.title, {:action => 'show', :id => post.id}) %></td>
      <td><%= truncate(post.description, :length => 80) %></td>     
      <td><% post.categories.each do |category| %>
      	  <ul>
      	  	<li><%= category.name %></li>
      	  </ul>
      	  <% end %>
      </td>
      <td><% post.tags.each do |tag| %>
      	  <ul>
      	  	<li><%= tag.name %></li>
      	  </ul>
      	  <% end %>
      </td> 
      <td class="center"><%= post.vote_count ? post.vote_count : '0' %></td>
      <td><%= post.user ? post.user.username : 'Unknown' %></td>
      <% if is_admin %>
      <td class="actions">
        
        <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') if is_logged_in %>
        <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') if is_admin %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>