<% @page_title = "Problem List"%>

<div id="posts">
 	<%= render 'list_posts', :posts => @posts %>
</div>

<% content_for :right_bar do %>
<% if params[:query] %>
	<div class="right_bar_feature">
	<h2>Refine Search</h2>
		<div class="indent">					
			<h3>Category</h3>
				<% unless @category_facets.blank? %>
					<% @category_facets.keys.each_with_index do |facet, i| %>
						<p><%= link_to( facet, {:controller => 'posts', :action => 'search', :query => params[:query], :cfacet => facet, :tfacet => params[:tfacet]}) unless params[:cfacet] %>
						   <%= " (#{@category_facets.values[i]})" unless params[:cfacet] %>
						   <%= facet+" " if params[:cfacet] %>
						   <%= link_to("(remove)", {:controller => 'posts', :action => 'search', :query => params[:query], :tfacet => params[:tfacet]}) if params[:cfacet]%>
						   </p>
					<% end %>
				<% end %>
			<br />
			<h3>Tag</h3>
				<% unless @tag_facets.blank? %>
					<% @tag_facets.keys.each_with_index do |facet, i| %>
						<p><%= link_to( facet, {:controller => 'posts', :action => 'search', :query => params[:query], :tfacet => facet, :cfacet => params[:cfacet]}) unless params[:tfacet] %> 
						   <%= " (#{@tag_facets.values[i]})" unless params[:tfacet] %>
						   <%= facet+" " if params[:tfacet] %>
						   <%= link_to("(remove)", {:controller => 'posts', :action => 'search', :query => params[:query], :cfacet => params[:cfacet]}) if params[:tfacet]%></p>
					<% end %>
				<% end %>				
		</div>
	</div>
<% end %>
<div class="right_bar_feature">
<h2>Help</h2>
	<p>Click the title of the record to view the problem and suggested solutions in detail.</p>
	<% unless is_logged_in %>
	<p><%= link_to("Login", {:controller => 'user_access', :action => 'login'}) %> to post a fix, comment or vote on a problem.</p>
	<% end %>
</div>
<% end %>