<% @page_title = "Posts List"%>
<% @content_header = "Problem List"%>

<div class="post list">
  
  <%= link_to("Submit New Problem", {:action => 'new'}, :class => 'action new') if is_logged_in %>
  
  <div><%= pluralize(@posts.size, 'post')%> found</div>

  <table class="listing" summary="Post list">
    <tr class="header">
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Categories</th>
      <th>Tags</th>      
      <th>Score</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
    <% @posts.each do |post| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="center"><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.description %></td>     
      <td><% post.categories.each do |category| %>
      	  <ul>
      	  	<%= category.name %>
      	  </ul>
      	  <% end %>
      </td>
      <td><% post.tags.each do |tag| %>
      	  <ul>
      	  	<%= tag.name %>
      	  </ul>
      	  <% end %>
      </td> 
      <td class="center"><%= post.vote_count ? post.vote_count : '0' %></td>
      <td><%= post.user ? post.user.username : 'Unknown' %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => post.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') if is_logged_in %>
        <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') if is_admin %>
      </td>
    </tr>
    <% end %>
  </table>
</div>