<% @page_title = @post.title %>
<% @content_header = @post.title %>
<% @page_description = @post.description %>

<!-- Show Post -->
<%= render(:partial => 'posts/show_post', :locals => {:post => @post}) %>
<hr /><br />

<!-- Solution List --> 
<h2>There <%= @solutions.length == 1 ? 'is' : 'are'%> <%= pluralize(@solutions.length, "Fix")%> posted for this Problem</h2>
<div class="solutions">
	<%= render @solutions, :post => @post %>
</div>

<!-- New Solution Form -->
<% if is_logged_in %>
<%= error_messages_for(@errors) %>
<%= render(:partial => 'solutions/form', :locals => {:solution => @solution, :post => @post}) %>
<% else %>
<br /><p>To submit a new fix, post a comment or vote please <%= link_to("login", {:controller => 'user_access', :action => 'login'}) %></p>
<% end %>