<% @page_title = "Detailed Post View"%>
<% @content_header = @post.title %>


    <div class="score">
      <h3>Score</h3>
      <p><%=h @post.vote_count ? @post.vote_count : '0' %></p>
    </div>
<div class="show_post">
	<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>
    <div>
      Submitted By: <%=h @post.user ? @post.user.username : 'Unknown' %>
    </div>
    <div class="post_description">
      <p><%=h @post.description %></p>
    </div>
    <table>
    <tr>
    <td>
    <div>
      <h3>Error Messages</h3>
      	<ul>
      	<% for error_message in @post.error_messages %>
      	<li> <%=h error_message.description %></li>
      	<% end %> 
      	</ul>	
    </div>
    </td>
    <td>
    <div>
      <h3>Categories</h3>
      	<ul>
      	<% for category in @post.categories %>
      	<li> <%=h category.name %></li>
      	<% end %>
      	</ul> 
    </div>
    </td>
    <td>
    <div>
      <h3>Tags</h3>
      	<ul>
      	<% for tag in @post.tags %>
      	<li> <%=h tag.name %></li>
      	<% end %> 
      	</ul>
    </div>
    </td>
    </tr>
    </table>
    <div>
      <p><b>Time Created:</b> <%=h @post.created_at %> - <b> Last Updated:</b> <%=h @post.updated_at %></p>
    </div>
  
</div>