<% @page_title = "Detailed Post View"%>
<% @content_header = @post.title %>

<span class="back-link"><%= link_to("<< Back to List", {:action => 'list'}) %></span>

<div class="problem_score">
      <h3>Score</h3>
      <p><%=h @post.vote_count ? @post.vote_count : '0' %></p>
</div>

<div class="show_post">

    <div class="problem_description">
      <p><%=h @post.description %></p>
    </div>
    <div>
      <h3>Error Messages</h3>
      	<ul>
      	<% for error_message in @post.error_messages %>
      	<li> <%=h error_message.description %></li>
      	<% end %> 
      	</ul>	
    </div>
    <table>
    <tr>
    <td>
    <div>
      <h3>Categories</h3>
      	<ul>
      	<% for category in @post.categories %>
      	<li> <%=h category.name %></li>
      	<% end %>
      	</ul> 
    </div>
    </td>
    <td>
    <div>
      <h3>Tags</h3>
      	<ul>
      	<% for tag in @post.tags %>
      	<li> <%=h tag.name %></li>
      	<% end %> 
      	</ul>
    </div>
    </td>
    </tr>
    </table>
    <div>
      Submitted By: <%=h @post.user ? @post.user.username : 'Unknown' %>
    </div>
    <div>
      <p><b>Time Created:</b> <%=h @post.created_at %> - <b> Last Updated:</b> <%=h @post.updated_at %></p>
    </div>
</div>    
  <br />  
  <!-- Solution List -->
  <% @solutions.each_with_index do |solution, i| %>
    <div class="solution_score">
      <h3>Score</h3>
      	<p><%= solution.vote_count ? solution.vote_count : '0' %></p>
    </div>
    <div class="show_post <%= cycle('odd', 'even') %>">
      <div class="solution_display">
      <h2>Solution <%=i+1%></h2>
      	<p><%= solution.description %></p>  
      <br />   
      <p>Submitted By: <%= solution.user ? solution.user.username : 'Unknown' %></p>
          <%= link_to("Edit this solution", {:action => 'edit', :id => solution.id}, :class => 'solution_edit') if is_admin %>
          <%= link_to("Delete this solution", {:action => 'delete', :id => solution.id}, :class => 'solution_delete') if is_admin %>
      </div>
    </div>
    

    
    <br />
  <% end %>
  
  <!-- New Solution Form -->
  <% if is_logged_in %>  
  <div class="solution_submit">
  	<%= form_for(@solution, :url => {:action => 'create_solution', :id => @post.id}) do |f| %>
	    <%= error_messages_for(@errors) %>
	    <div class="form-input">
	      <div class="form-field">
	        <%= f.label("Post a solution to this problem") %>
	        <%= f.text_area(:description, :size => "600x10") %>
	      </div>        
	    </div>
	    
	    <div class="form-buttons">
	      <%= submit_tag("Submit Solution") %>
	    </div>

	<% end %>
  </div>
  <% else %>
  	<br />
	  <p>To submit a new solution please <%= link_to("login", {:controller => 'user_access', :action => 'login'}) %></p>
  <% end %>
  
<% @right_header = "Help"%>

<% content_for :right_bar do %>
<p>Details of the Problem including a summary, error messages(if any), the category the problem falls under and tags the author has fiven to the problem.</p>
<p>Any suggested solutions are given below. If you are logged in you can suggest a solution of your own in the text box at the bootom of the page.</p>
<% end %>
  
