<%= error_messages_for(@category) %>

    <div class="form-input">
    	
      <div class="form-field">
        <%= f.label(:name) %>
        <%= f.text_field(:name) %>
      </div>
      <div class="form-field">
        <%= f.label(:parent_id, "Parent Category") %>
        <%= f.select(:parent_id, @options) %>
      </div>
    
    </div>