<% @page_title = "Categories List"%>
<% @content_header = "Categories"%>

<div class="category list">
  
  <%= link_to("Add New Category", {:action => 'new'}, :class => 'action new') if is_admin %>
  
  <div><%= pluralize(@categories.size, 'category')%> found</div><br />

  <table class="listing" summary="Category list">
    <tr class="header">
      <th>Category ID</th>
      <th>Name</th>
      <th>Parent Category</th>
    </tr>
    <% @categories.each do |category| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="center"><%= category.id %></td>
      <td class="center"><%= category.name %></td>
      <td class="center"><%= category.parent.blank? ? "No Parent" : category.parent.name %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => category.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => category.id}, :class => 'action edit') if is_admin %>
        <%= link_to("Delete", {:action => 'delete', :id => category.id}, :class => 'action delete') if is_admin %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @categories %>
    </div>
    <%= will_paginate @categories, :container => false %>
</div>