$('#score_<%=@post_type%><%=@post_id%>').replaceWith('<span class="score_value"><%= vote_count(@vote_object) %></span>');

$('#vote_notification').text('<%= @notice %>');
show_dialog('#vote_notification', '<%= @notice %>');
