<div id="solution<%= solution.id %>" class="solution collapsible_button" data-role="collapsible" data-collapsed="true">
	<h3>Show Fix by <%=solution.user.username%></h3>
	 <p class="small-text">Submitted By: <%= solution.user ? solution.user.username : 'Unknown' %> <%= time_ago_in_words(solution.updated_at.to_time) %> ago</p>
      	<div class="post_display"><p><%= solution.description.html_safe %></p></div>
      	<%= show_voting(solution, post.id) %>
	          <%= link_to("Edit this solution", {:action => 'edit', :id => solution.id}, :class => 'solution_edit') if is_admin %>
	          <%= link_to("Delete this solution", {:action => 'delete', :id => solution.id}, :class => 'solution_delete') if is_admin %>
    <div class="comments_<%=solution.class%><%=solution.id%>">
    	<% unless solution.comments.size == 0 %> 
	    	<strong>Comments:</strong>	
	    	<%= render solution.comments, :post_id => solution.id %>
	    <% end %>
    </div>
    <%= show_comment_form(solution, post.id) %>
    <hr />
</div>
