<div id="solution<%= solution.id %>" class="solution">
  <table><tr>
	<td>
     <%= show_voting(solution, post.id) %>
    </td>
    <td>
    <div class="show_post">
      <div class="post_display">
      
      	<p><%= solution.description %></p> 
      	<br />   
	    <div class="post_footer">
	      Submitted by <%= solution.user ? solution.user.username : 'Unknown' %> <%= time_ago_in_words(solution.updated_at.to_time) %> ago
	      	<table><tr>
	          <td><%= link_to("Edit this solution", {:action => 'edit', :id => solution.id}, :class => 'solution_edit') if is_admin %></td>
	          <td><%= link_to("Delete this solution", {:action => 'delete', :id => solution.id}, :class => 'solution_delete') if is_admin %></td>
	      	</tr></table>
	    </div>
      </div>
      
    </div>
    <div class="comments comments_<%=solution.class%><%=solution.id%>">
    	<% unless solution.comments.size == 0 %> 
	    	<strong>Comments:</strong>	
	    	<%= render solution.comments, :post_id => solution.id   %>
	    <% end %>
    </div>
    <%= show_comment_form(solution, post.id) %>
   </td>
   </tr></table>
   <br /><hr /><br />
</div>