<% @page_title = "Home" %>
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true">
		<h3>Welcome to Find Fix</h3>
	<p>
	  This is Find Fix, a collaboratively edited website for a large range of IT support problems and fixes. </p>
	<p>The site is in its infancy and we are looking for contributors. 
	  Join in now by posting a problem or fix and make the service better! </p>
		
		<p> 
	Users can save details of their problem, then share or discuss the problem with others to arrive at a solution.	Problems and suggested fixes can be voted 
	on (up to once per user) to promote good fixes and make it easy for other users to decide if the fix is genuine.</p>
		
		<p>
		Users can search for existing problems and fixes using the search bar.  Problems are organised into categories and can be 
		tagged with relevant keywords to make the search more effective.
		</p>
		
		<p>
		You can browse or search for <%= link_to("existing problems", {:controller => 'posts', :action => 'list'}) %> at any time.  To post a problem, fix, comment or vote
		<%= link_to("login", {:controller => 'user_access', :action => 'login'}) %> or  <%= link_to("create an account", {:controller => 'users', :action => 'new'}) %> if 
		you do not already have one. For more information see the links below , otherwise happy fixing! 
		</p>
		
		<p class="center"><%= link_to("Help", {:controller => 'public', :action => 'help'}) %>
			<br /><%= link_to("FAQs", {:controller => 'public', :action => 'faqs'}) %></p>
	</div>
	
	<%= link_to "Create New Problem", {:controller => "posts", :action => "new"}, 'data-role' => 'button', 'data-icon' => 'plus' if is_logged_in%>
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true">
	<h3>Recent Problems</h3>

	<ul data-role="listview" data-inset="true">
	  <% for post in @recent_problems %>
	    <li>
	      <%= link_to h(post.title), {:controller => "posts", :action => "show", :id => post.id} %>
	    </li>
	  <% end %>
	</ul>

	</div>
	
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true">
	<h3>Problems by Category</h3>

	<ul data-role="listview" data-inset="true">
	  <% get_categories_for_right_bar %>
	  <% for category in @categories %>
	    <li>
	      <%= link_to(category.name, {:controller => 'posts', :action => 'list', :category_id => category.id}) %>
	    </li>
	  <% end %>
	</ul>

	</div>
	
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true">
	<h3>Popular Tags</h3>

	<ul data-role="listview" data-inset="true">
    <% get_tags_for_right_bar %>
    <% @tags.each do |tag| %>      
      <li>
      	<%= link_to(tag.name, {:controller => 'posts', :action => 'list', :tag_id => tag.id}) %>
      </li>       
    <% end %>
	</ul>

	</div>	
	<%= link_to "View all Problems", {:controller => "posts", :action => "list"}, 'data-role' => 'button', 'data-icon' => 'grid'%>




