<% @page_title = "Home" %>
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true">
		<h3>Welcome to Find Fix</h3>
		<p>
		Welcome to Find Fix, a web application that allows you to record, discuss and search IT support problems and solutions. 
		</p>
		
		<p>
		With Find Fix you can create a record of an IT support problem, storing details such as name, description and 
		error messages then share the record and discuss it others.  Any user can post a solution for the problem which 
		can also be rated to make the good solutions stand out.
		</p>
		
		<p>
		You can search for existing problems and solutions using the search bar.  Problems are organised into categories and can be 
		tagged with relevant keywords to make the search more effective.
		</p>
		
		<p>
		You can browse or search for <%= link_to("existing problems", {:controller => 'posts', :action => 'list'}) %> now.  To post your own problem
		 <%= link_to("login", {:controller => 'user_access', :action => 'login'}) %> or  <%= link_to("create an account", {:controller => 'users', :action => 'new'}) %>. 
		</p>
	</div>
	
	<%= link_to "Create New Problem", {:controller => "posts", :action => "new"}, 'data-role' => 'button', 'data-icon' => 'plus' if is_logged_in%>
	<div class="collapsible_button" data-role="collapsible" data-collapsed="true">
	<h3>Recent Problems</h3>

	<ul data-role="listview" data-inset="true">
	  <% for post in @recent_problems %>
	    <li>
	      <%= link_to h(post.title), {:controller => "posts", :action => "show", :id => post.id} %>
	    </li>
	  <% end %>
	</ul>

	</div>
	<%= link_to "View all Problems", {:controller => "posts", :action => "list"}, 'data-role' => 'button', 'data-icon' => 'grid'%>




