<% @page_title = "Home"%>
<% description = "Welcome to Find Fix, a web application that allows you to record, discuss and search IT support problems and solutions." %>
<% @page_description = description %>

<div id="information">
<% @content_header = "Welcome"%>
<p>
Welcome to Find Fix, a web application that allows you to record, discuss and search IT support problems and solutions. 
</p>

<p>
With Find Fix you can create a record of an IT support problem, storing details such as name, description and 
error messages then share the record and discuss it others.  Any user can post a solution for the problem which 
can also be rated to make the good solutions stand out.
</p>

<p>
You can search for existing problems and solutions using the search bar.  Problems are organised into categories and can be 
tagged with relevant keywords to make the search more effective.
</p>

<p>
You can browse or search for <%= link_to("existing problems", {:controller => 'posts', :action => 'list'}) %> now.  To post your own problem
 <%= link_to("login", {:controller => 'user_access', :action => 'login'}) %> or  <%= link_to("create an account", {:controller => 'users', :action => 'new'}) %>. 
</p>
</div>

<div id="recent_problems">
	<h2>Recent Problems</h2>
	<%= list_posts(@recent_problems)  %>
</div>

<% @right_header = "Categories"%>
<% content_for :right_bar do %>
<%= javascript_include_tag :defaults %>

	<div class="categories">
    <% @categories.each do |category| %>
    <div class="category<%=category.depth%> category_id_<%=category.parent_id%>"
    <% unless category.parent_id.blank? %>
    	style="display:none"
    <% end %>
    >
    
    <ul>  
      <li>
      	<% if category.has_children? %>
	      	<%= link_to_function '+', "toggle_section('.category_id_#{category.id}','a.toggle_#{category.id}', '+', '-')", :class => "button_spacer toggle_button toggle_#{category.id}" %>
	    <% else %>
	    	<span class="button_spacer"></span>
	    <% end %>
	      	<%= link_to(category.name, {:controller => 'posts', :action => 'list', :category_id => category.id}) %>
      </li>
    </ul>   
    </div> 
    <% end %>
    </div>
	
	<div class="tags">
	<h2>Popular Tags</h2>
    <ul> 
    <% @tags.each do |tag| %>      
      <li>
      	<%= link_to(tag.name, {:controller => 'posts', :action => 'list', :tag_id => tag.id}) %>
      	<span>x<%= get_tag_occurences(tag) %></span>
      </li>       
    <% end %>
    </ul> 
    </div>
<% end %>


