<!--
_____________________________________________

	Find Fix - A wiki for search and discussion of IT support issues
    AUTHOR: Stephen J Bamber
	EMAIL: sjbamber@uclan.ac.uk
_____________________________________________

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-UK">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @page_title %> - Find Fix</title>
    <meta name="author" content="Stephen Bamber" />
    <meta name="description=" content="<%= @page_description %>" />

    <link rel="shortcut icon" href="/images/favicon.ico" />
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= stylesheet_link_tag('mobile') if mobile_device? %>
    <%= javascript_include_tag('application') %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  	<div id="wrapper">
	    <div id="header">
	      <div id="header_content">
		      <%= link_to(image_tag('find_fix_logo.png', :alt => 'Find Fix Logo', :class => 'page_logo'), {:controller => 'public', :action => 'index'}) %>

		      <div class="access_links">
			      <% if is_admin %>
			      	<%= link_to("Admin Menu", {:controller => 'user_access', :action => 'admin_menu'}, :class => 'access logout') %>
			      <% end %>
			      <% if is_logged_in %>
			      	<%= link_to("Logout", {:controller => 'user_access', :action => 'logout'}, :class => 'access logout') %>
			      <% else %>
			      <%= link_to("Register", {:controller => 'users', :action => 'new'}, :class => 'access register') %>
			      <%= link_to("Login", {:controller => 'user_access', :action => 'login'}, :class => 'access login') %>
			      <% end %>
		      </div>
		      
		      <div id="search_bar">
				<%= form_tag({:controller => 'posts', :action => 'search'}, :method => :get, :id => 'search_form') do %>
				  <%= text_field_tag(:query, "", :id => 'search_input') %>
				  <%= submit_tag("Search", :id => 'search_submit') %>
				  <div id="delete"><span id="x">x</span></div>
				<% end %>
			  </div>
			  
	      </div>
	    </div>
	    
	    <div id="info_bar">
	     <div id="info_bar_content">
			      <%= link_to("Home", {:controller => 'public', :action => 'index'}, :class => 'navigation home') unless this_page_is('public', 'index')%>
			      <%= link_to("Home", {:controller => 'public', :action => 'index'}, :class => 'navigation home nav_selected') if this_page_is('public', 'index')%>
			      <% if is_logged_in %>
			      <%= link_to("Submit a Problem", {:controller => 'posts', :action => 'new'}, :class => 'navigation posts') unless this_page_is('posts', 'new') %>
			      <%= link_to("Submit a Problem", {:controller => 'posts', :action => 'new'}, :class => 'navigation posts nav_selected') if this_page_is('posts', 'new') %>
			      <% end %>
			      <%= link_to("View Problems", {:controller => 'posts'}, :class => 'navigation posts') unless this_page_is('posts', 'list') || this_page_is('posts', 'index') || this_page_is('posts', 'search') %>
			      <%= link_to("View Problems", {:controller => 'posts'}, :class => 'navigation posts nav_selected') if this_page_is('posts', 'list') || this_page_is('posts', 'index') || this_page_is('posts', 'search') %>
	      <div class="login_status">
	    	<% if session[:user_id] %>      	
	      		You are logged in as: <%= session[:username]%>
	        <% else %>
	        	You are not logged in
	      	<% end %>	
	      </div>
	     </div>
	    </div>
	    
	    <div id="main">
	 	  
  		  <% if !flash[:notice].blank? %>
	        <div class="notice">
	      	  NOTICE:<br />
	          <%= flash[:notice] %>
	          <% flash[:notice].clear %>
	        </div>
	      <% end %>
	 		
		  <div id="right_bar">
		  	<div id="right_bar_content">
			  	<%= yield(:right_bar) %>
				<% unless @hide_categories %>
					<% get_categories_for_right_bar %>
				  	<div class="categories">
						<h2>Categories</h2>
					    <% @categories.each do |category| %>
					    <div class="category<%=category.depth%> category_id_<%=category.parent_id%>"
						    <% unless category.parent_id.blank? %>
						    	style="display:none"
						    <% end %>
						    > 
						    <ul>  
						      <li>
						      	<% if category.ancestry.blank? %>
							      	<%= link_to_function '+', "toggle_section('.category_id_#{category.id}','a.toggle_#{category.id}', '+', '-')", :class => "button_spacer toggle_button toggle_#{category.id}" %>
							    <% else %>
							    	<span class="button_spacer"></span>
							    <% end %>
							      	<%= link_to(category.name, {:controller => 'posts', :action => 'list', :category_name => category.name}) %>
						      </li>
						    </ul>   
					    </div> 
					    <% end %>
				    </div>
				<% end %>
				<% unless @hide_tags %>
					<% get_tags_for_right_bar %>
					<div class="tags">
						<h2>Popular Tags</h2>
					    <ul> 
					    <% @tags.each do |tag| %>      
					      <li>
					      	<%= link_to(tag.name, {:controller => 'posts', :action => 'list', :tag_name => tag.name}) %>
					      	<span>x<%= get_tag_occurences(tag) %></span>
					      </li>       
					    <% end %>
					    </ul> 
				    </div>
				<% end %>	
		  	</div>
		  </div>
		    
		    
		  <div id="main_content">	      
	      	<div id="content">
			    <h2><%= @content_header %></h2>
	        	<%= yield %>
	        </div>
		 </div>	      
		       	
	    </div>
		<div id="push"></div>
    </div>
    <div id="footer">
      <div id="footer_content">
		<p id="mobile_site_link">
		  <% if mobile_device? %>
		    <%= link_to "Full Site", :mobile => 0 %>
		  <% else %>
		    <%= link_to "Mobile Site", :mobile => 1 %>
		  <% end %>
		</p>
        <p id="copyright">Site Design &copy; <%=Time.now.strftime("%Y")%> <a href="http://www.sjbamber.info">Stephen J Bamber</a></p>
      </div>
    </div>
  </body>
</html>