<!--
_____________________________________________

	Find Fix - A wiki for search and discussion of IT support issues
    AUTHOR: Stephen J Bamber
	EMAIL: sjbamber@uclan.ac.uk
_____________________________________________

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Find Fix | <%= @page_title %></title>
    <meta name="author" content="Stephen J Bamber">
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag('application') %>
  </head>
  <body>
  	<div id="wrapper">
	    <div id="header">
	      <div id="header_content">
		      <%= link_to(image_tag('find_fix_logo.png', :alt => 'Find Fix Logo', :class => 'page_logo'), {:controller => 'public', :action => 'index'}) %>

		      <div class="access_links">
			      <% if is_admin %>
			      	<%= link_to("Admin Menu", {:controller => 'user_access', :action => 'admin_menu'}, :class => 'access logout') %>
			      <% end %>
			      <% if is_logged_in %>
			      	<%= link_to("Logout", {:controller => 'user_access', :action => 'logout'}, :class => 'access logout') %>
			      <% else %>
			      <%= link_to("Register", {:controller => 'users', :action => 'new'}, :class => 'access register') %>
			      <%= link_to("Login", {:controller => 'user_access', :action => 'login'}, :class => 'access login') %>
			      <% end %>
		      </div>
		      
		      <div class="search_bar">
				<%= form_tag({:controller => 'posts', :action => 'list'}, :method => :get) do %>
				  <%= label_tag(:query, "Search for a fix:") %><br />
				  <%= text_field_tag(:query, "", :class => 'search_input') %>
				  <%= submit_tag("Search", :class => 'search_submit') %>
				<% end %>
			  </div>
	      </div>
	    </div>
	    
	    <div id="info_bar">
	     <div id="info_bar_content">
			      <%= link_to("Home", {:controller => 'public', :action => 'index'}, :class => 'navigation home') %>
			      <% if is_logged_in %>
			      <%= link_to("Submit a New Problem", {:controller => 'posts', :action => 'new'}, :class => 'navigation posts') %>
			      <% end %>
			      <%= link_to("View Existing Problems", {:controller => 'posts', :action => 'list'}, :class => 'navigation posts') %>
	      <div class="login_status">
	    	<% if session[:user_id] %>      	
	      		You are logged in as: <%= session[:username]%>
	        <% else %>
	        	You are not logged in
	      	<% end %>	
	      </div>
	     </div>
	    </div>
	    
	    <div id="main">
	 
		  <div id="right_bar">
		  	  <div id="right_content_header">
	      		<h2><%= @right_header %></h2>
	      	  </div>
		      <div id="right_bar_content">
		        <%= yield :right_bar %> 	
		      </div>
		      <div id="right_footer"></div>
		  </div>
		    
		    
		  <div id="main_content">
	      	<div id="content_header">
	      	<h2><%= @content_header %></h2>
	      	</div>	      
		    <% if !flash[:notice].blank? %>
		      <div class="notice">
		        <%= flash[:notice] %>
		      </div>
		    <% end %>
	      	<div id="content">
	        	<%= yield %>
	        </div>
	        <div id="content_footer"></div>
		 </div>	      
		       	
	    </div>
		<div id="push"></div>
    </div>
    <div id="footer">
      <div id="footer_content">
        <p id="copyright"><%=Time.now.strftime("%Y")%> &copy; Stephen J Bamber</p>
      </div>
    </div>
  </body>
</html>